@charset "UTF-8";


 /*:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ab;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
} */
@font-face {
    font-family:'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
  }

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor00: white;
    --cor0:#ebe5c5;
    --cor1: #83e1ab;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font-padrao: Arial, verdana,helvetica, sans-serif;
    --font-destaque:'Bebas Neue', sans-serif;
    --font-android:'android', sans-serif;
  
}

a.externo::after{
    content:'\00A0\1F517';
}

body{
    background-color:var(--cor0);
    font-family: var(--font-padrao);
    
}


header{
    background-image: linear-gradient(to bottom,var(--cor2),var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;


}

header > p {
   
    color: white;
    font-size: 1.2em;
    width: 500px;
    margin: auto;
    padding-bottom: 50px;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px black;
    
}
    

header>h1{
    
    color:white;
    font-family: var(--font-android);
    margin-top: 30px;
    font-size: 3em;
    margin: auto;
    font-weight: normal;
    
    text-shadow: 2px 2px 0px black;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 7px black;
    
    
}
nav >a{
    color: #3ddc84;
    padding: 10px;
    font-size: bold;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.2;

}
nav >  a:hover{
    background-color: #2fa866;
    color:#063d1e;
}

main{
    background-color: white;
    min-width: 320px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main h1{
    background-color:var(--cor5);
    font-family: var(--font-android);
    text-indent: 20px;
    
}
main  h2{
    font-family: var(--font-android);
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;

}
main p {
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 1.5em;
    text-align: justify;
    padding: 10px;
    font-size: 1em;
}
main strong{
    background-color: var(--cor1);
    padding: 2px;
}
main a {
    text-decoration: none;
    font-weight: bolder;
    color:var(--cor4);
    
}
main a:hover{
    text-decoration: underline;
    color: #1a5c37;
    background-color: var(--cor1)
}
main h2{
    font-size: 1.2em;
   background-image: linear-gradient(to right, var(--cor3), transparent);
}
div.video{
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;

    position: relative;
    padding-bottom: 50%;
    
}
div.video > iframe{
    position: absolute;
    top:1%;
    left:1%;
    bottom: 1%;
    right: 1%;
    width: 98%;
    height: 98%;


}
aside{
    background-color: #09f06d42;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.404);
}

aside>h3{
    background-color: #063d1e;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}
aside>ul{
    list-style-type: '\2705\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    color: white;
    background-color: var(--cor5);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer > p > a{
   
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
}
footer > p > a:hover{
    background-color: #3ddc84;
    text-decoration: underline;
    padding: 2px;
}